/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/




body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex-grow: 1;
}

.header {
    position: relative;
    background-color: #222222;
}

.container {
    width: 72%;
    margin: 0 auto;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px 19px 0px;
}

.header__item {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 41px;
}

#search-img {
    margin-right:25px;
    cursor: pointer;
}

.header-search {
    border-radius: 4px;
    display: none;
}

.header__list {
    display: flex;
}

.header__button {
    background-color: #222222;
    
}

.header__list-item {
    margin-right: 33px;
    transition: all 500ms ease 0s;
}

.header__list-item--margin {
    margin-right: 0;
}

.header__list-item:hover {
    transform: scale(1.1);
}

.navigation {
    display: none;
    right: 0;
    position: absolute;
    padding: 37px 73px 24px 33px;
    background: #FFFFFF;
    z-index: 2;
    box-shadow: 3px 6px 15px rgba(0,0,0,0.5);
}

.navigation__h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0px 0px 24px 0px;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    
}

.navigation__item {
    margin: 0px 0px 20px 0px;
}

.navigation__h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin: 0px 0px 12px 0px;
}

.navigation__item-list-li{
    margin: 0px 0px 11px 0px;
}

.navigation__item-list-li--margin {
    margin: 0px 0px 0px 0px;
}

.navigation__item-list-link {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding: 0px 0px 0px 21.5px;
}

.navigation__item-list-link--hover:hover {
    color: #c50720;
}

.navigation__button-cross {
    position: absolute;
    background: #FFFFFF;
    top: 16px;
    right: 16px;
}

.navigation__button-cross:hover {
    transform: scale(1.1);
}

.main {
    display: flex;
    flex-direction: column;
}

.intro {
    position: relative;
    background-color: #F1E4E6;
}

.intro__flex {
    display: flex;
}

.intro__item {
    display: flex;
    flex: 1 1 50%;
    position: relative;
}

.intro__item--font {
    align-items: center;
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #222222;
}

.intro__h1--weight--900 {
    display: block;
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.intro__h1--weight--700 {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #222222;
}

.intro__item-before {
    padding-left: 92px;
}

.intro__item-before::before {
    content: "";
    width: 12px;
    height: 82px;
    background: #F16D7F;
    position: absolute;
    left: 63.5px;
    top: 11px;
}

.intro__img {
    width: 50%;
    height: auto;
}

.intro__overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.stock {
    padding: 65px 0px 0px 0px;
    margin: 0px 0px 96px 0px;
}

.stock__h2-none {
    display: none;
}

.stock__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stock__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31.6%;
    min-height: 260px;
    margin-bottom: 30px;
}

.stock__h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.stock__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
}

.stock__for-women {
    background: url('../img/stock__for-women.jpg') 0 0/100% 100% no-repeat;
}

.stock__for-men {
   
    background: url('../img/stock__for-men.jpg') 0 0/100% 100% no-repeat;
}

.stock__for-kids {
    background: url('../img/stock__for-kids.jpg') 0 0/100% 100% no-repeat;
}

.stock__accesories {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    background: url('../img/stock__accesories.jpg') 0 0/100% 100% no-repeat;
}

.fetured {
    margin: 0px 0px 96px 0px;
}

.fetured__h2 {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.fetured__text {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin: 0px 0px 57px 0px;
}

.fetured__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fetured__item {
    position: relative;
    width: 31.6%;
    height: auto;
    margin: 0px 0px 30px 0px;
    /* background: url('../img/fetured__item-backgroung.jpg'); */
    background: #F8F8F8;
}

.fetured__item-hover {
    position: relative;
}

.fetured-img {
    width: 100%;
    height: auto;
}

.fetured__item-overlay {
    display: none;
    position: absolute;
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.fetured__item-button {
    display: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    position: absolute;
    padding: 14px 13px 14px 13px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fetured__item-hover:hover .fetured__item-overlay,
.fetured__item-hover:hover .fetured__item-button {
    display: block;
}

.fetured__item-pic-basket {
    margin-right: 11px;
}

.fetured__features {
    padding: 25px 28px 20px 18px;
}

.fetured__h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    margin: 0px 0px 13px 0px;
}

.fetured__desc {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0px 0px 18px 0px;
}

.fetured__price {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.fetured__button {
    display: block;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: white;
    border: 1px solid #FF6A6A;
    padding: 14px 38.5px 14px 38.5px;
    margin: 0 auto;
    transition: all 1s ease 0s;
}

.fetured__button:hover {
    color: #FFFFFF;
    background: #F16D7F;
}

.advantages {
    background: #222224;
    padding: 103px 0px 104px 0px;
}

.advantages__h2-none {
    display: none;
}

.advantages__flex {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    width: 31.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__img {
    margin: 0px 0px 28px 0px;
}

.advantages__h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 0px 0px 16px 0px;
}

.advantages__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer {
    flex-grow: 0;
}

.footer__top {
    background: url('../img/footer__top-background.jpg') 0 0/100% 100% no-repeat;
    padding: 97px 0px 126px 0px;
}

.footer__top-flex {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    width: 36%;
    flex-direction: column;
    align-items: center;
}

.footer__top-picture {
    margin: 0px 0px 30px 0px;
}

.footer__top-quote {
    width: 360px;
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer-fieldset {
    display: flex;
}

.legend {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin: 0px 0px 32px 0px;
}

.legend span{
    display: block;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40,13px;
    text-align: center;
    color: #222224;
}

[type="email"] {
    padding: 7px 64px 7px 22px;
    background: #E1E1E1;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.footer__button-subscribe {
    padding: 7px 7px 7px 8px;
    background: #F16D7F;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    cursor: pointer;
    transition: all 600ms ease 0s;
}

.footer__button-subscribe:hover {
    transform: scale(0.9);
    box-shadow: 2px 2px 5px 1px black;
}

.footer__bottom {
    background: #222224;
    padding: 24px 0px 24px 0px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__list {
    display: flex;
}

.footer__icon {
    margin: 0px 8px 0px 0px;
}

.footer-icon-background, .footer-icon-color {
    transition: all 400ms ease 0s;
}

.footer__icon--hover:hover .footer-icon-background {
    fill: #F16D7F;
}

.footer__icon--hover:hover .footer-icon-color {
    fill: white;
}

.footer__icon--margin {
    margin-right: 0;
}

/* cart.html */

.bread-crumbs {
    background: #F8F3F4;
    height: 148px;
}

.bread-crumbs__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.bread-crumbs__h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
}

.bread-crumbs__list {
    display: flex;
}

.bread-crumbs__list-item {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-transform: uppercase;
    margin-right: 15px;
}

.bread-crumbs__list-item::after {
    content: '/';
}

.bread-crumbs__list-item:last-child:after {
    content: '';
}

.bread-crumbs__list-new-arrivals {
    font-weight: 700;
    color: #F16D7F;
}

.cart {
    padding: 96px 0px 128px 0px;
}

.cart__flex {
    display: flex;
    justify-content: space-between;
}

.cart__list {
    width: 57%;
}

.cart__list-item {
    display: flex;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    margin-bottom: 40px;
    background: #FFFFFF;
    width: 100%;
}

.cart__item-img {
    width: 262px;
    height: auto;
}

.cart__features {
    padding: 22px 0px 0px 31px;
    position: relative;
    flex-grow: 1;
}

.cart__h2 {
    display: inline-block;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
}

.cart__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-bottom: 6px;
}

.cart__text-price {
    color: #F16D7F;

}

.cart-quantity {
    display: flex;
    align-items: center;
}

.cart__features-cross {
    position: absolute;
    right: 3.1%;
    top: 4.1%;
}

.cart__text--quantity {
    margin-right: 24px;
}

.cart-quantity__number {
    display: flex;
    justify-content: center;
    width: 44px;
    border: 1px solid #EAEAEA;
}

.cart-buttons {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.cart-buttons__button {
    padding: 16px 40px;
    border: 1px solid #A4A4A4;
    background: #FFFFFF;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    transition: all 500ms ease 0s;
}

.cart-buttons__button:hover {
    box-shadow: 3px 3px 10px 3px black;
}

.cart__item {
    width: 31.5%;
}

.cart__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.cart__form-h3 {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
}

.cart__form-input {
    width: 100%;
    height: 45px;
    padding-left: 17px;
    border: 1px solid #A4A4A4;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-bottom: 20.5px;

}

.cart__form-button {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    width: 100px;
    padding: 10px 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.cart__form-ordering {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #F5F3F3;
    padding: 40px 40px;
}

.cart__form-ordering-sub {
    display: flex;
}

.cart__form-ordering-sub-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.cart__form-ordering-grand {
    display: flex;
}

.cart__form-ordering-grand-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
}

.cart__grand-total {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.cart__form-ordering-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #F16D7F;
    margin-top: 39px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    text-transform: uppercase;
    align-self: center;
    width: 75%;
    min-height: 50px;
    text-align: center;
    transition: all 500ms ease 0s;
}

.cart__form-ordering-button::before {
    content: "";
    height: 1px;
    width: 75%;
    background:#E2E2E2;
    position: absolute;
    top: 100px;
    left: 46px;
}

.cart__form-ordering-button:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

/* Адаптив */

@media (max-width: 1599px) {

}

@media (max-width: 1200px) {
    .stock__item {
        min-height: 200px;
    }

    .cart__flex {
        flex-direction: column;
    }

    .cart__list {
        width: 100%;
        margin-bottom: 30px;
    }

    .cart__item {
        width: 100%;
    }
}

@media (max-width: 768px) {

    /* index.html */

    .header__list-item {
        margin-right: 25px;
    }

    .container {
        width: 92%;
    }

    .intro__h1--weight--900 {
        font-size: 44px;
        line-height: 53px;
    }

    .intro__h1--weight--700 {
        font-size: 22px;
        line-height: 29px;
    }

    .stock {
        padding: 20px 0px 0px 0px;
    }

    .stock__item {
        min-height: 168px;
        margin-bottom: 20px;
    }

    .stock__accesories {
        height: 116px;
    }

    .fetured__item {
        width: 49%;
        margin: 0px 0px 16px 0px;
    }

    .fetured__button {
        margin-top: 16px;
    }

    .advantages__flex {
        flex-direction: column;
        align-items: center;
    }

    .advantages__item {
        width: 42.5%;
        margin: 0px 0px 47px 0px;
    }

    .footer__top-flex {
        flex-direction: column;
        align-items: center;
    }

    .footer__top-quote {
        margin: 0px 0px 48px 0px;
    }

    /* cart.html */

    .cart__flex {
        flex-direction: column;
    }

    .cart__list {
        width: 100%;
        margin-bottom: 104px;
    }

    .cart__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .cart__h2 {
        font-size: 16px;
        line-height: 19px;
    }

    .cart__text  {
        font-size: 14px;
        line-height: 17px;
    }

    .cart__form {
        width: 48%;
        margin-bottom: 0px;
    }

    .cart__form-ordering {
        width: 48%;
        height: 214px;
        margin-top: 38px;
    }

    .cart-buttons {
        justify-content: space-around;
    }
}

@media (max-width: 520px) {
    /* cart.html */

    .cart__item-img {
        width: 143px;
        height: 188px;
    }

    .cart__h2 {
        font-size: 16px;
        line-height: 19px;
    }

    .cart__text  {
        font-size: 14px;
        line-height: 17px;
    }

    .cart__h2 {
        margin-bottom: 25px;
    }

    .cart__features {
        padding: 13px 0px 0px 17px;
    }

    .cart__features-cross {
        width: 9px;
        top: 2.1%;
    }

    .cart-buttons__button {
        font-weight: 400; 
        font-size: 12px;
        line-height: 14px;
        padding: 9px 18px;
    }

    .cart__item {
        flex-direction: column;
    }

    .cart__form {
        width: 100%;
    }

    .cart__form-ordering {
        width: 100%;
    }
}



@media (max-width: 375px) {

    /* index.html */ 

    .container {
        width: 91.4%;
    }

    .header__list-item {
        margin-right:0;
    }

    .header__list-item-display {
        display: none;
    }

    .intro {
        display: flex;
        height: 364px;
    }

    .intro__h1--weight--900 {
        font-size: 38px;
        line-height: 46px;
    }

    .intro__h1--weight--700 {
        font-size: 20px;
        line-height: 24px;
    }

    .intro__item-before::before {
        width: 12px;
        height: 65px;
    }

    .intro__item--display {
        display: none;
    }

    .stock {
        margin: 0px 0px 64px 0px;
    }

    .stock__flex {
        flex-direction: column;
        align-items: center;
    }

    .stock__item {
        width: 100%;
        min-height: 247px;
    }

    .fetured__flex {
        flex-direction: column;
    }

    .fetured__item {
        width: 100%;
    }

    .fetured__button {
        margin-top: 41px;
    }

    .advantages {
        padding: 48px 0px;
    }

    .advantages__item {
        width: 92%;
    }

    .footer__top {
        padding: 54px 0px 110px 0px;
    }

    .footer__flex {
        flex-direction: column;
        align-items: center;
    }

    .footer__bottom-text {
        order: 2;
    }

    .footer__bottom  {
        padding: 43px 0px 9px 0px;
    }

    .footer__list {
        margin-bottom: 40px;
    }

    /* cart.html */

    .cart__item-img {
        width: 143px;
        height: 188px;
    }

    .cart__h2 {
        font-size: 16px;
        line-height: 19px;
    }

    .cart__text  {
        font-size: 14px;
        line-height: 17px;
    }

    .cart__h2 {
        margin-bottom: 25px;
    }

    .cart__features {
        padding: 13px 0px 0px 17px;
    }

    .cart__features-cross {
        width: 9px;
        top: 2.1%;
    }

    .cart-buttons__button {
        font-weight: 400; 
        font-size: 12px;
        line-height: 14px;
        padding: 9px 18px;
    }

    .cart__item {
        flex-direction: column;
    }

    .cart__form {
        width: 100%;
    }

    .cart__form-ordering {
        width: 100%;
    }

}